* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: auto;
    background-color: white;
    position: fixed;
}

.main {
    max-width: 1200px;
    height: auto;
    margin: 0px auto;
}

nav {
    width: 100%;
    height: auto;
}

.main .logo img {
    height: 50px;
    line-height: 100px;
    float: left;
    position: relative;
    top: 30px;
}

.menuheader {
    float: right;
}

.menuheader li {
    list-style-type: none;
    display: inline-block;
}

.menuheader li a {
    text-decoration: none;
    color: black;
    line-height: 100px;
    letter-spacing: 0;
    font-size: 15px;
    padding: 10px 10px;
}

.menuheader li a:hover {
    background-color: orange;
}


/* slider */

.slider {
    width: 100%;
    height: 650px;
    background-image: url(img/1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.slider .tittle-slider {
    width: 40%;
    position: absolute;
    height: auto;
    left: 15%;
}

.slider .tittle-slider h1 {
    color: white;
    font-size: 60px;
    line-height: 65px;
}

.slider .tittle-slider p {
    font-size: 18px;
    color: white;
    line-height: 1.5;
    margin-top: 20px;
}

.slider .tittle-slider h1 span {
    color: orange;
}

.slider .tittle-slider .button-slider {
    color: white;
    padding: 15px 35px;
    background-color: orange;
    display: inline-block;
    text-decoration: none;
    margin-top: 15px;
    border-radius: 3px;
    margin-right: 10px;
    line-height: 25px;
    letter-spacing: 0.5px;
}

.slider .tittle-slider .button-slider:hover {
    background-color: palegreen;
    transition: 0.5s;
}


/* konten */

.flex-container {
    margin-top: 60px;
    flex-direction: row;
}

.main .flex-container .flex-items {
    width: 20%;
    display: inline-block;
    text-align: center;
    margin-left: 50px;
}

.main .flex-container .flex-items h5 {
    font-size: 18px;
    letter-spacing: 0.5px;
    margin: 10px 0px;
}

.main .flex-container .flex-items .icon-color {
    font-size: 50px;
    color: orange;
}


/* konten 2&3 */

.flex-item2 {
    width: 33%;
    height: auto;
    padding: 0px 15px;
    float: left;
}

.flex-item2 h3 {
    font-size: 25px;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    line-height: 35px;
}

.flex-item2 h6 {
    font-size: 16px;
    letter-spacing: 5px;
    margin-bottom: 20px;
    color: orange;
}

.flex-item2 p {
    padding-bottom: 30px;
    font-size: 14px;
    line-height: 20px;
}

.flex-item2 .button-conten2 {
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 10px 20px;
    border-radius: 20px;
}

.flex-item2 .gambar-conten img {
    max-width: 100%;
}

.flex-item2 .garis-conten {
    width: 30px;
    border-bottom: 4px solid orange;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.flex-item2 .pragraf-conten {
    float: right;
    width: 80%;
    margin-top: 10px;
}

.clear {
    clear: both;
}

footer {
    width: 100%;
    color: white;
    background-color: black;
    text-align: center;
    padding: 30px;
}
